{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}{{ page.name }} | Pages{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ path('page_index') }}">{{ bootstrap_icon('window-stack') }} Pages</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% if page.isHomepage %}
          <span class="badge text-bg-dark" title="Homepage" aria-label="This is the homepage.">
            {{ bootstrap_icon('house') }}
          </span>
        {% endif %}

        {% if page.isPublished %}
          <span class="badge text-bg-success" title="Published">
            {{ page.name }}
          </span>
        {% else %}
          <span class="badge text-bg-warning" title="Draft">
            {{ page.name }}
          </span>
        {% endif %}

        {% if page.isHidden %}
          <span class="badge text-bg-dark" title="Hidden" aria-label="This page is hidden from navigation.">
            {{ bootstrap_icon('eye-slash') }}
          </span>
        {% endif %}

        {% if page.isLocked %}
          <span class="badge text-bg-dark" title="Login Required" aria-label="This page requires login.">
            {{ bootstrap_icon('lock') }}
          </span>
        {% endif %}

        {% if page.isNewWindow %}
          <span class="badge text-bg-dark" title="New Window" aria-label="This page opens in a new window from navigation.">
            {{ bootstrap_icon('box-arrow-up-right') }}
          </span>
        {% endif %}
      </li>
    </ol>
  </nav>
{% endblock %}

{% set preview_page_revision = null %}
{% set query_page_revision = app.request.get('revision') %}

{% if query_page_revision %}
  {% for page_revision in page.pageRevisions %}
    {% if page_revision.id == query_page_revision %}
      {% set preview_page_revision = page_revision %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if not preview_page_revision %}
  {% set preview_page_revision = current_page_revision %}
{% endif %}

{% block actions %}
  {% if page.isPublished %}
    <a href="{{ page_path(page.path) }}" class="btn btn-outline-dark" target="_blank" rel="noopener" data-bypass>
      {{ bootstrap_icon('box-arrow-up-right') }}
      Live Page
    </a>
  {% endif %}

  {% if is_granted(attributes.page.publish, page) %}
    {% embed '@OHMediaBackend/embed/form_post_confirm.html.twig' %}
      {% block form_action %}{{ path('page_publish', {id: page.id}) }}{% endblock %}
      {% block confirm_message %}Are you sure you want to publish this page?{% if page.published %} This page will be published automatically on <i>{{ page.published|date('M j, Y') }}</i> at <i>{{ page.published|date('g:ia') }}</i>.{% endif %}{% endblock %}
      {% block csrf_name %}publish_page_{{ page.id }}{% endblock %}
      {% block button_class %}btn btn-success{% endblock %}
      {% block button_html %}
        {{ bootstrap_icon('check') }}
        Publish Page
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% include '@OHMediaPage/page/_page_actions_shared.html.twig' with {
    simple: false,
  } %}
{% endblock %}

{% block main %}
  <h1 class="visually-hidden">{{ page.name }} {{ preview_page_revision }}</h1>

  {% include '@OHMediaPage/page/_page_revision_actions.html.twig' %}

  <style>
    iframe {
      width: 100%;
      height: 500px;
      display: block;
      border: 5px inset var(--bs-primary);
    }
  </style>

  {{ page_preview(preview_page_revision) }}
{% endblock %}
