{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Pages{% endblock %}

{% block breadcrumbs %}
{{ bootstrap_breadcrumbs(
  bootstrap_breadcrumb(bootstrap_icon('files') ~ ' Pages', 'page_index'),
) }}
{% endblock %}

{% set can_create_page = is_granted(attributes.page.create, new_page) %}

{% set create_page_href = path('page_create') %}

{% block actions %}
<div class="btn-group btn-group-sm">
{% if can_create_page %}
  <a href="{{ create_page_href }}" class="btn btn-primary">
    {{ bootstrap_icon('plus') }} Add Page
  </a>
{% endif %}
{% if is_granted(attributes.page.reorder, new_page) %}
  <a href="{{ path('page_reorder') }}" class="btn btn-primary">
    {{ bootstrap_icon('arrows-move') }} Reorder
  </a>
{% endif %}
</div>
{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <div class="card-title card-title-with-count">
      <h1 class="card-title-heading">Pages</h1>
      <div class="card-title-count">
        {{ bootstrap_badge_primary(pagination.count) }}
      </div>
    </div>

    {% if pagination.count %}
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Template</th>
        <th>Shortcode</th>
        <th>Last Updated</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pagination.results %}
        <tr>
          <td>
            {{ page.name }}
            <br />
            {{ bootstrap_badge_light('/' ~ page.path) }}
          </td>
          <td>
            {% if page.isHomepage %}
            <span class="badge text-bg-dark" title="Homepage">
              {{ bootstrap_icon('house-fill') }}
              <span class="visually-hidden">Homepage</span>
            </span>
            {% endif %}

            {% if page.isPublished %}
            {{ bootstrap_badge_success('Published') }}
            {% else %}
            {{ bootstrap_badge_warning('Draft') }}
            {% endif %}

            {% if page.isHidden %}
            <span class="badge text-bg-dark" title="Hidden">
              {{ bootstrap_icon('eye-slash-fill') }}
              <span class="visually-hidden">Hidden</span>
            </span>
            {% endif %}

            {% if page.isLocked %}
            <span class="badge text-bg-dark" title="Locked">
              {{ bootstrap_icon('lock-fill') }}
              <span class="visually-hidden">Locked</span>
            </span>
            {% endif %}

            {% if page.isNewWindow %}
            <span class="badge text-bg-dark" title="New Window">
              {{ bootstrap_icon('box-arrow-up-right') }}
              <span class="visually-hidden">New Window</span>
            </span>
            {% endif %}
          </td>
          <td>{{ page.getTemplateName }}</td>
          <td>{{ shortcode('page_href('~page.id~')') }}</td>
          <td>{{ page.updatedAt|datetime }}</td>
          <td>
            {% if is_granted(attributes.page.view, page) %}
            <a href="{{ path('page_view', {id: page.id}) }}" class="btn btn-sm btn-primary btn-action" title="View">
              {{ bootstrap_icon('eye') }}
              <span class="visually-hidden">View</span>
            </a>
            {% endif %}
            {% if is_granted(attributes.page.edit, page) %}
            <a href="{{ path('page_edit', {id: page.id}) }}" class="btn btn-sm btn-primary btn-action" title="Edit">
              <i class="bi-pencil"></i>
              <span class="visually-hidden">Edit</span>
            </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

    {{ bootstrap_pagination(pagination) }}

    <small>{{ bootstrap_pagination_info(pagination) }}</small>
    {% else %}
      <p>
        No pages found.
        {% if can_create_page %}
        <a href="{{ create_page_href }}">Click here to add a page.</a>
        {% endif %}
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
