{% set block_body = block('body') %}

<!DOCTYPE html>
{% block html_tag_open %}<html>{% endblock %}
  <head>
    {{ script_head_open() }}

    {{ page_meta() }}

    {{ encore_entry_link_tags('frontend', null, 'frontend') }}

    {% block head %}{% endblock %}

    {{ script_head_close() }}
  </head>
  <body>
    {{ script_body_open() }}

    {{ block_body|raw }}

    {{ encore_entry_script_tags('frontend', null, 'frontend') }}

    {{ script_body_close() }}
  </body>
</html>
