{% set block_body = block('body') %}

<!DOCTYPE html>
{% block html_tag_open %}<html>{% endblock %}
  <head>
    {{ script_head_open() }}

    {% block meta %}{{ page_meta() }}{% endblock %}

    {{ encore_entry_link_tags('frontend', null, 'frontend') }}

    {% block head_scripts %}{% endblock %}

    {{ script_head_close() }}
  </head>
  <body>
    {{ script_body_open() }}

    {{ block_body|raw }}

    {{ encore_entry_script_tags('frontend', null, 'frontend') }}

    {% set organization_name = setting('schema_organization_name') %}

    {% if organization_name %}
      {% set schema = {
        '@context': 'https://schema.org',
        '@type': 'Organization',
        'name': organization_name,
      } %}
      <script type="application/ld+json">{{ schema|json_encode|raw }}</script>
    {% endif %}

    {% block body_scripts %}{% endblock %}

    {{ script_body_close() }}
  </body>
</html>
