{% macro page_nav(nav_item, current_path, nesting_level) %}
  {% set page = nav_item.page %}

  {% if page.locked %}
    {% set show_page_link = is_granted('IS_AUTHENTICATED_FULLY') %}
  {% else %}
    {% set show_page_link = true %}
  {% endif %}

  {% if show_page_link %}
    {% if page.isHomepage %}
      {% set page_path = page_path('') %}
    {% elseif page.isRedirectTypeInternal %}
      {% set page_path = page_path(page.redirectInternal.path) %}
    {% elseif page.isRedirectTypeExternal %}
      {% set page_path = page.redirectExternal %}
    {% else %}
      {% set page_path = page_path(page.path) %}
    {% endif %}

    {% set text = page.navText ?: page.name %}

    {% set active = page_path == current_path %}
    {% set active_path = page_path == current_path starts with page_path %}

    {% if nav_item.children|length %}
    <li class="nav-item dropdown {{ active_path ? 'active-path' : '' }}">
      <a
        href="#"
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ text }}
      </a>
      <ul class="dropdown-menu nav--level-{{ nesting_level }}">
        <li>
          <a
            href="{{ page_path }}"
            {% if page.isNewWindow %}target="_blank" rel="noopener"{% endif %}
            class="dropdown-item {{ active ? 'active' : '' }}"
            {% if active %}aria-current{% endif %}
          >
            {{ text }}
          </a>
        </li>
        {% for child_nav_item in nav_item.children %}
        {{ _self.page_nav(child_nav_item, current_path, nesting_level + 1) }}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="{{ nesting_level > 1 ? '' : 'nav-item' }}">
      <a
        href="{{ page_path }}"
        {% if page.isNewWindow %}target="_blank" rel="noopener"{% endif %}
        class="{{ nesting_level > 1 ? 'dropdown-item' : 'nav-link' }} {{ active ? 'active' : '' }}"
        {% if active %}aria-current{% endif %}
      >
        {{ text }}
      </a>
    </li>
    {% endif %}
  {% endif %}
{% endmacro %}

<ul class="{{ class_name }} nav--level-0">
  {% for nav_item in nav %}
    {{ _self.page_nav(nav_item, current_path, 1) }}
  {% endfor %}
</ul>
