{% macro page_nav(page, current_path, nesting_level, max_nesting_level) %}
  {% if page.locked %}
    {% set frontend_attribute = constant('OHMedia\\PageBundle\\Security\\Voter\\PageVoter::FRONTEND') %}
    {% set show_page_link = is_granted(frontend_attribute, page) %}
  {% else %}
    {% set show_page_link = true %}
  {% endif %}

  {% if show_page_link %}
    {% if page.isRedirectTypeInternal %}
      {% set page_path = path('oh_media_page_frontend', {
        path: page.redirectInternal.path
      }) %}
    {% elseif page.isRedirectTypeExternal %}
      {% set page_path = page.redirectExternal %}
    {% else %}
      {% set page_path = path('oh_media_page_frontend', {
        path: page.path
      }) %}
    {% endif %}

    {% set text = page.navText ?: page.name %}

    {% set active = page_path == current_path %}
    {% set active_path = page_path == current_path starts with page_path %}

    {% set pages = page.getNavPages %}

    {% set has_dropdown = nesting_level <= max_nesting_level and pages|length %}

    {% if has_dropdown %}
    <li class="nav-item dropdown {{ active_path ? 'active-path' : '' }}">
      <a
        href="#"
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ text }}
      </a>
      <ul class="dropdown-menu nav--level-{{ nesting_level }}">
        <li>
          <a href="{{ page_path }}" class="dropdown-item {{ active ? 'active' : '' }}">{{ text }}</a>
        </li>
        {% for page in pages %}
        {{ _self.page_nav(page, current_path, nesting_level + 1, max_nesting_level) }}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="{{ nesting_level > 0 ? '' : 'nav-item' }}">
      <a
        href="{{ page_path }}"
        {% if page.isNewWindow %}target="_blank" rel="noopener"{% endif %}
        class="{{ nesting_level > 0 ? 'dropdown-item' : 'nav-link' }} {{ active ? 'active' : '' }}"
        {% if active %}aria-current{% endif %}
      >
        {{ text }}
      </a>
    </li>
    {% endif %}
  {% endif %}
{% endmacro %}


<ul class="{{ class_name }} nav--level-0">
  {% if show_home %}
  <li class="nav-item">
    <a
      href="{{ home_path }}"
      class="nav-link {{ current_path == home_path ? 'active' : '' }}"
    >
      Home
    </a>
  </li>
  {% endif %}

  {% for page in pages %}
    {{ _self.page_nav(page, current_path, 1, max_nesting_level) }}
  {% endfor %}
</ul>
