{% macro page_nav(nav_item, nesting_level) %}
  {% set page = nav_item.page %}

  {% if nav_item.children|length %}
    <li class="nav-item dropdown {{ nav_item.active_path ? 'active-path' : '' }}">
      <a
        href="#"
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ nav_item.dropdown_text }}
      </a>
      <ul class="dropdown-menu nav--level-{{ nesting_level }}">
        <li>
          <a
            href="{{ nav_item.href }}"
            {% if page.isNewWindow %}target="_blank" rel="noopener"{% endif %}
            class="dropdown-item {{ nav_item.active ? 'active' : '' }}"
            {% if nav_item.active %}aria-current{% endif %}
          >
            {{ nav_item.text }}
          </a>
        </li>
        {% for child_nav_item in nav_item.children %}
        {{ _self.page_nav(child_nav_item, nesting_level + 1) }}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="{{ nesting_level > 1 ? '' : 'nav-item' }}">
      <a
        href="{{ nav_item.href }}"
        {% if page.isNewWindow %}target="_blank" rel="noopener"{% endif %}
        class="{{ nesting_level > 1 ? 'dropdown-item' : 'nav-link' }} {{ nav_item.active ? 'active' : '' }}"
        {% if nav_item.active %}aria-current{% endif %}
      >
        {{ nav_item.text }}
      </a>
    </li>
  {% endif %}
{% endmacro %}

<ul class="{{ class_name }} nav--level-0">
  {% for nav_item in nav %}
    {{ _self.page_nav(nav_item, 1) }}
  {% endfor %}
</ul>
